.customers {
    margin: 0;
    text-align: center;

    h2 {
           margin: 20px;
    }

    ul {
            border: 0;
            border-radius: 7px;
            box-shadow: 10px 10px 34px 10px rgba(0,0,0,0.07);
            list-style-type: none;
            text-align: center;
            overflow: hidden;
            margin: 0 auto;
            padding: 0;
            width: 100%;

            li {
                display: inline-block;
                padding: 25px;

                a {
                    background: $blood;
                    color:transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                }
            }
    }

    img {
        height: auto;
        width: 200px;
    }
}