body {
  background-color: #333 !important;
  font-family: light;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%; }

@font-face {
  font-family: helveticaNeue;
  src: url("/style/fonts/HelveticaNeue.ttf"); }

@font-face {
  font-family: fat;
  src: url("/style/fonts/fat.ttf"); }

@font-face {
  font-family: light;
  src: url("/style/fonts/light.ttf"); }
