$blood: linear-gradient(to right, #DD2476, #FF512F);
$blood-reversed: linear-gradient(to right, #FF512F, #DD2476);
$sun: linear-gradient(to right, #FFEDBC, #ED4264);
$tranq: linear-gradient(to right, #d76d77, #ffaf7b);
$black: #333;